<!--********* Header Starts *********-->
<app-header></app-header>
<!--********* End Header *********-->

<!--********* Page Container Start *********-->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <app-sidebar-main></app-sidebar-main>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <router-outlet>

            </router-outlet>
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!--************ End Page Container *********-->

<!--********* Modal Container Start *********-->
<!-- <app-confirmation></app-confirmation> -->
<!--************ End Modal Container *********-->