<div bsModal #lgAlertModal="bs-modal" [config]="{ ignoreBackdropClick:false,keyboard:false }" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal fade moda-sm">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert-success-center text-center">
                        <a href="#" class="icon"><i class="icon-checkmark3"></i></a>
                        <p class="text-semibold mb-4 font-large-2">{{message}}</p>
                        <a href="#" class="btn btn-success btn-shadow-1" data-dismiss="modal">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>