<div class="header">
  <div class="navbar main-top">
    <ul class="nav navbar-nav">
      <li>
        <div class="mobile-button pull-right">
          <a href="javascript:void(0)" class="navbar-toggler sidebar-large" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"><span class="icon"></span></a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li class="dropdown dropdown-user">
        <a class="dropdown-toggle btn btn-primary-outline btn-header" data-toggle="dropdown">
          <span>Hi, demounderwriter@xceedance.com</span>
          <i class="caret"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a (click)="logout()"><i class="icon-switch2"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>