<div class="panel panel-home">
    <div class="panel-heading">
        <h3 class="panel-title">Commission Income Breakdown</h3>
    </div>
    <div class="panel-body text-center">
        <select class="form-control field-sm pull-right select-header mt-1 ">
            <option>2018 YTD</option>
        </select>
        <div class="table-responsive mb-2 full-width">
            <table class="table table-striped" id="example">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Premium</th>
                        <th>Commission</th>
                        <th>Discount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>January</td>
                        <td>$4679</td>
                        <td>$1760</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>Feb</td>
                        <td>$4200</td>
                        <td>$1620</td>
                        <td>$150</td>
                    </tr>
                    <tr>
                        <td>March</td>
                        <td>$3858</td>
                        <td>$1517</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td>April</td>
                        <td>$3965</td>
                        <td>$1568</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td>May</td>
                        <td>$5679</td>
                        <td>$1760</td>
                        <td>$0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>