<div class="row home-five-boxes row">
    <div class="col-xxs-full col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <dashboard-all-quotes></dashboard-all-quotes>
    </div>
    <div class="col-xxs-full col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <dashboard-written-comm></dashboard-written-comm>
    </div>
    <div class="col-xxs-full col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <dashboard-all-quote-comm></dashboard-all-quote-comm>
    </div>
</div>

<div class="row equalize">
    <div class="col-md-6 col-lg-6">
        <dashboard-leads-breakdown></dashboard-leads-breakdown>
    </div>
    <div class="col-md-6 col-lg-6">
        <dashboard-comm-breakdown></dashboard-comm-breakdown>
    </div>
</div>